.a-home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.a-home-navbar-interactive {
  width: 100%;
  height: 84px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #22736a;
}
.a-home-image {
  width: 65px;
  height: 68px;
  object-fit: cover;
}
.a-home-desktop-menu {
  display: flex;
}
.a-home-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.a-home-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.a-home-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.a-home-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.a-home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.a-home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.a-home-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.a-home-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.a-home-image1 {
  height: 2rem;
}
.a-home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.a-home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.a-home-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.a-home-text {
  margin-bottom: var(--dl-space-space-unit);
}
.a-home-text1 {
  margin-bottom: var(--dl-space-space-unit);
}
.a-home-text2 {
  margin-bottom: var(--dl-space-space-unit);
}
.a-home-text3 {
  margin-bottom: var(--dl-space-space-unit);
}
.a-home-text4 {
  margin-bottom: var(--dl-space-space-unit);
}
.a-home-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.a-home-login1 {
  margin-right: var(--dl-space-space-twounits);
}
.a-home-icon-group {
  display: flex;
}
.a-home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.a-home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.a-home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.a-home-banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.a-home-image2 {
  width: 271px;
  height: 270px;
  object-fit: cover;
}
.a-home-text5 {
  font-size: 3rem;
  text-align: center;
}
.a-home-btn-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.a-home-button {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.a-home-button:hover {
  transform: scale(1.02);
}
.a-home-button1 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.a-home-button1:hover {
  transform: scale(1.02);
}
.a-home-footer {
  width: 100%;
  height: 84px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #22736a;
}
.a-home-icon-group1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
@media(max-width: 767px) {
  .a-home-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .a-home-desktop-menu {
    display: none;
  }
  .a-home-btn-group {
    display: none;
  }
  .a-home-burger-menu {
    display: flex;
  }
  .a-home-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .a-home-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .a-home-text6 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .a-home-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .a-home-mobile-menu {
    padding: 16px;
  }
  .a-home-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .a-home-btn-group1 {
    flex-direction: column;
  }
  .a-home-button1 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .a-home-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .a-home-text6 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
